body {
  background-color: #032B44;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.hamburger span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.menu {
  background-color: #fff;
  color: #000;
  display: none;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  border-bottom: 5px solid #333;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu a:hover {
  color: #666;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

#texto-biblia {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.menu {
  background-color: #fff;
  color: #000;
  display: none;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  border-bottom: 5px solid #333;
}

.menu.show {
  display: block;
  background-color: #fff;
  color: #000;
  padding: 10px; /* Espacio entre el texto y el borde */
  border: none; /* Eliminar el borde por defecto */
  border-radius: 5px; /* Redondear los bordes */
  cursor: pointer; /* Cambiar el cursor a una mano para indicar que es clickable */
  transition: background-color 0.3s ease; 
}

.texto-inferior {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.texto-inferior {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
}
