
.select-biblia {
background-image: linear-gradient(to top, #0097A7, #FF0000);
color: #333;
font-family: "Playfair Display", serif;
text-align: center;
padding: 20px;
border: none;
border-radius: 50px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-biblia select {
width: 200px;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #fff;
color: #333;
font-size: 18px;
}

.titulo {
  font-family: 'Gothic';
font-size: 20px;
color: #FFFFFF;
margin-bottom: 20px;
  text-align: center;
}

body {
background-color: #C5197;
background-size: cover;
background-position: center;
font-family: "Open Sans", sans-serif;
}

.contenedor {
max-width: 800px;
  height: 550px;
margin: 40px auto;
padding: 20px;
border: 5px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-image: url("https://images.app.goo.gl/jB96g45jnPR3XofWA");
}


p {
  font-family: 'Gothic';
font-size: 15px;
color: #fff;
margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: 'Gothic';
font-size: 15px;
color: #fff;
margin-bottom: 20px;
  text-align: center;
}

h1 {
  font-family: 'Gothic';
font-size: 15px;
color: #000000;
margin-bottom: 20px;
  text-align: center;
}

